<form name="regForm" class="form-horizontal" ng-controller="registerCtrl as rc">
    <div class="form-group">
      <label class="col-lg-2 control-label">First Name</label>
      <div class="col-lg-10">
        <input type="text" name="firstName" class="form-control" placeholder="First Name" ng-model="rc.user.firstName" ng-required="true" ng-pattern="/^[a-zA-Z][a-zA-Z\\s]+$/">
        <p ng-show="regForm.firstName.$error.required && regForm.firstName.$dirty">First Name Required*</p>
        <p ng-show="regForm.firstName.$error.pattern">Alphabets only*</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Gender</label>
      <div class="col-lg-10">
          <input type="radio" name="gender" value="M" ng-model="rc.user.gender">Male
          <input type="radio" name="gender" value="F" ng-model="rc.user.gender">Female
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Date of Birth</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" placeholder="Date of Birth" ng-model="rc.user.DOB" maxdate="+1Y" cm-date-picker>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Date of Reservation</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" placeholder="Date of Reservation" ng-model="rc.user.reserv" mindate="0D" maxdate="+1M" cm-date-picker>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Phone Number</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="phone" placeholder="Phone Number" ng-model="rc.user.phone" maxNumbers="9" cm-numbers-only ng-required="true" ng-minlength="10">
        <p ng-show="regForm.phone.$error.required">Phone Number Required*</p>
        <p ng-show="regForm.phone.$error.minlength">Phone Number should be of 10 digits*</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Country</label>
      <div class="col-lg-10">
        <select ng-model="rc.selectedCountry" class="form-control" ng-options="country.code + '-' + country.name for country in rc.countries">
            <option value="">Select your Country</option>
        </select>
        {{rc.selectedCountry}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Pin Code</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" placeholder="Pin Code" ng-model="rc.user.pincode" maxNumbers="5" cm-numbers-only>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" placeholder="Password" ng-model="rc.user.password">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="rc.user.iAgree"> I Agree
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" ng-click="rc.register()" ng-disabled="regForm.$invalid">Register</button>
      </div>
    </div>
    {{rc.user}}
</form>